/**
* @home @portfolio
* @contact @awards
* 
*/

* {
margin: 0em;
padding: 0em;
font-size: 100%;
border-style: none;
list-style-type: none;
}
/* Common settings */
body {
    /* border: solid 1px #000; */
    /* width: 1000px; */
    width: 100%;
	max-width: 1900px;
	min-width: 768px;
    height: 100%;
    margin: 0 auto;
    /* font-family: "trebuchet MS", calibri, sans-serif; */
	font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
	background: url("./images/bg.png") no-repeat center top;
	background-attachment: fixed;/* for parallax */
}
#wrapper {
	
}
#inner-wrapper {
	
}
/* Header settings */
header {
    /* border: solid 1px #f00; */
    position: fixed;
	top: 0;
    width: 100%;
    height: 100px;
	margin: 0 auto;
    background-color: #fff;
    z-index: 100;
}
#headerContent {
	display: flex;
    justify-content: space-between;
    align-items: center; /* 上下中央揃え */
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}
header  img {
	width: 100%;
	max-width: 150px;
	height: auto;
}
header a  {
	width: 100%;
    max-width: 160px;
    max-height: 100px;
}
/* Navigation */
#headerNav {
    /* border: solid 1px #f00; @debug */
    width: 100%;
	max-width: 600px;
    height: auto;
}
#headerNav ul {
    height: 100%;
    display: flex;
    align-items: center; /* 上下中央揃え(only for Nav) */

}
#headerNav li {
    /* border: solid 1px #00f;  @debug */
    width: 150px;
    height: 100%;
    text-align: center;/* 左右中央 */
}
#headerNav a {
    width: 150px;
    height: 24px;
    display: block;/* リンクをボタン化 */
    padding: 38px 0;/* リンクをボタン化 */
    color: black;
    font: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 130%;
    text-decoration: none;
}
/* 選択されてる画面のナビの背景色変更 */
#headerNav #active {
    background-color: #ddd;
}
/*
nav a:hover {
    background: #ccc;
}
*/
/* Contents settings */

main {
	height:100%;
	position: relative;
	top: 100px;
	padding-bottom: 50px;/* 最下部にフッターを固定表示 */
}
.mHeader {
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin: 5px auto;
	text-align: center;
}
.mainArticle {
	/* border: solid 1px black; @debug */
	width: 100%;
	max-width: 1200px;
	height: auto;
	display: flex;
	margin: 0 auto;
}
.mainArticle  img {
	/* border: solid 1px red; @debug */
	width: 50%;
	max-width: 600px;
	height: auto;
	max-height: 480px;
}
.mainArticle  ul {
	/* border: solid 1px red; @debug */
	width: 250%;
}
.mainArticle  li {

}
h1, h2 {
	font-size: 300%;
	font-family: "Courier New", Courier, monospace;
	color: #c7c75a;
	/* text-shadow: 3px 3px 3px #000; */
	margin: 30px 30px 10px 30px;
}

p {
	font-size: 110%;
	color: #777676;
	margin: 0 30px;
	margin-bottom: 20px;
	line-height: 150%;/* 行の高さを指定 */
}
#achievementsButton {
	text-align: center;
	align-items: center;
}
/* Footer settings */
footer {/* @memo フレックスデザイン未対応 */
	position: relative;
	top: 100px;
    border-top: solid 2px #000;
	margin-top: 10px;
    width: 100%;
    height: 22px;

}
footer  ul {
    display: flex;
    justify-content: space-around;
    margin: 0 400px;
    align-items: center; /* only for icon */
}

footer a {
    font-size: 0.8rem;
    color: #000;
    text-decoration: none;
}

/**
* @home
*/
#slideShow {	/* slide show */
	position: relative;/* for fixing the position of arrows */
	width: 100%;
	max-width: 1200px;
	height: auto;
	max-height: 600px;
	/* margin: 50px auto; */
	margin:  0 auto;
}
#slideShow  img {
	width: 100%;
	height: auto;
	max-height: 500px;
}
.nav-arrows {
	width: 100%;
	max-width: 1200px;
	height: auto;
}
/** arrow left */
.nav-arrows a {
	top: 50%;
	left: -5%;
}
/** arrow right */
.nav-arrows a:first-child{
	top: 50%;
	right: -5%;
}
.nav-options {
	display: flex;
	right: 0;
	bottom: 30px;
}
/*for hamburger */
.drawer-overlay {
	z-index: 10;
}
.drawer-menu-item {
	font-size: 110%;
	line-height: 120%;
	max-height: 40px;

}
/* pic caption */
.sb-description {
	display: none;
	padding: 250px;
	width: 10%;
	border-left: none;
	bottom: 0;
	left: 0;
	background: linear-gradient(255deg,  transparent 200px, #fff 10px);
}
.sb-description h3 {
	color: #c7c75a;
	font-size: 500%;
	position: absolute;
	top: 40px;
	left: 30px;
	line-height: 120%;
}
/* button */
.buttonI {
    margin: 30px auto;
    padding: 1em 3em;
    border: none;
    box-sizing:border-box;
    width: 250px;
    display: inline-block;
    font-size: 114%;
    position: relative;
    cursor: pointer;
}
/* back to Top */
.topBtn {
  position:fixed; /*固定*/
  bottom:35px; /*場所を右下に移動*/
  right:12px; /*場所を右下に移動*/
  display:block; /*aタグをblock要素に変更*/
  background-color:rgba(0,0,0,0.5); /*以下、デザインはご自由に！！*/
  color:#fff;
  text-decoration:none;
  font-weight:bold;
  font-size:11px;
  width:60px;
  height:60px;
  text-align:center;
  line-height:22px;
  border-radius:30px;
  padding-top:30px;
  box-sizing:border-box;
}
.topBtn:before {
  /* content:'\25B2'; */
  content: "^";
  position:absolute;
  top:10px;
  left:0;
  width:100%;
  text-align:center;
  font-size:20px;
}
.topBtn:hover {
  opacity:0.7;
}

/**
* @portfolio
*/
.gallery {
	/* border: solid 1px black; @debug */
	width: 100%;
	max-width: 1200px;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
	overflow: hidden;
	/* flex-flow: wrap; */
}

figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 380px;
  height: auto;
  padding-left: 5px;
}
figure img {
	width: 100%;
	max-width: 380px;
	height: auto;
}

figcaption {
  position: absolute;
  bottom: -60px;
  left: 5px;
  z-index: 2;
  width: 100%;
  max-width: 380px;
  height: 60px;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
}
figcaption h3 {
	color: #fff;
	margin: 20px 10px;
}
/*
.col4 figcaption {
  max-width: 280px;
}
*/
figure:hover figcaption {
  bottom: 0;
}

/* hovwer action */
/*
.transform02 {
  transform: scale(1.4);
  transition: all .3s ease-in-out;
}
figure:hover .transform02 {
  transform: scale(1);
}
*/
/**
* @contact
*/
#contact h2 {
	text-align:center;
	font-size:250%;
	padding:0;
	margin:0 0 25px 0;
	position:relative;
	color:#8C8C8C;
}
#contact h2:before {
	position:absolute;
	bottom: -15px;
	content: ' ';
	text-align:center;
	display:block;
	height:2px;
	width:100%;
	background-color: black;
	background: linear-gradient(-90deg, black, white);
}
#contact p {
	text-align: center;
	line-height: 60%;
}	
#twoColunm {
	display: flex;
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
}
#contactInfo {
	position: relative;
	top: 0;
	margin: 0 auto;
	padding:30px;
	padding-bottom: 0;
	width: 100%;
	max-width: 600px;
	height: auto;
}
#contact table {
	margin: 30px;
	margin-left: 60px;
	text-align: left;
	line-height: 1.5;
}
#contact table th, td {
	font-size: 110%;
	color:#8C8C8C;
	padding: 5px;
}
#contact th {
	width: 150px;
	font-weight: 900;
}
#contact td {
	width: 400px;
}
#contact #map  iframe {
	width: 100%;
	max-width: 500px;
	/* height: auto; */
	/*
	padding: 2px;
	border: solid 1px #ccc;
	*/
}
#contact iframe {
	width: 100%;
	max-width: 500px;
	min-width: 300px;
	max-height: 330px;
}
#contactform {
	position: relative;
	top: 0;
	margin: 0 auto;
	width: 100%;
	max-width:600px;
	/* min-width: 750px; */
	height: auto;
	height: 100%;
	min-height:200px;
	z-index:2;
	padding:30px;
	border:1px solid #383838;
	/* background: #eee; */
	/* My stripped background */
	border-radius:8px;
	box-shadow:0px 1px 6px #3F3F3F;
	font-size: 110%;
}
#contactform p {
	text-align: left;
	margin-top: 1.5em;
}
#inputArea {
	margin: 50px;
}
#contact .required {
	color: red;
}

#contactform label {
	display: inline-block;
	width: 130px;
	text-align: left;
	margin-bottom: 5px;
}
#contactform  input , #contactform textarea{
	width: 400px;
	box-sizing: border-box;
	border: solid 1px #999;
}
#contactform  input:focus
, #contactform  textarea:focus {
   background-color: lightblue;
}
#contactform textarea {
    vertical-align: top;
    height: 5em;
    resize: none;
}
#contactform  input[type=button] {
	width: 100px;
    position: relative;
	left: 30px;
	top: 10px;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
}  
#contactform  input[type=button]:hover {
    background: #00bcd4;
    color: white;
	cursor: pointer;
}
/**
* @awards
*/
#timeline {
	width: 600px;
	/*
	width: 100%;
	max-width: 600px;
	*/
	height: auto;
	padding: 10px;
	border:1px solid #383838;
	border-radius:8px;
	box-shadow:0px 1px 6px #3F3F3F;
}
#timeline p {
	font-size: 90%;

}

#awardsPhoto {
	width: 50%;
	max-width: 500px;
	max-height: none;
	margin-top: 100px;
	/* to fit with header's width(1200px) */
	padding-left: 78px; /* #mainArticle(1200px) - (#timeline + #awardsPhoto) */
}
#awards time {
	width: 40px;
}
#awards .emphasize {
	font-weight: bold;
}
/**
* Function
*/
/*　buttonI　*/
.buttonI {
    border: 3px solid rgb(238,139,103);
    background-color: #FFF;
    color: rgb(238,139,103);
    -webkit-perspective: 300px;
    -webkit-transform-style: preserve-3d;
    perspective: 300px;
    transform-style: preserve-3d;
    overflow:hidden;
}
.buttonI::after {
    padding: 2em;
  box-sizing:border-box;
  content: 'SEE MORE';
  display:block;
  text-align: center;
  align-items: center;
  width:250px;
  height:100%;
  position:absolute;
  top: 0;
  left: 0;
  color: #FFF;
  background-color:rgb(238,139,103);
  -webkit-transform-origin: 50% 0;
  -webkit-transform: rotate(-90deg);
  transform-origin: 50% 0;
  transform: rotate(-90deg);
  opacity: 0;
}
.buttonI:hover::after {
  animation: purann2 1s linear 0s 1 forwards;
    opacity: 1;
}
@keyframes purann2 {
      0% { transform: rotate(-90deg); }
     25% { transform: rotate(20deg); }
     50% { transform: rotate(-10deg); }
     75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}



	@media (max-width: 1500px) {
		footer ul {
		margin: 0 300px;
		}
	}
	@media (max-width: 1350px) {/* @slideshow */
		.nav-arrows a {
			left: 0%;
		}
		/** arrow right */
		.nav-arrows a:first-child{
			right: 0%;
		}
		#contact h2 {
			font-size:200%;
		}

		#contactform , table th, td {
			font-size: 90%;
		}
	}
	@media (max-width: 1300px) {
		#headerNav a {

		}
		footer ul {
			margin: 0 200px;
		}
		footer a {
		
		}
	}
	@media (max-width: 1100px) {
        main {
        padding: 0 10px;
        }
        
	    
		#awardsPhoto {
		
		}
		footer ul {
			margin: 0 150px;
		}
	}
	@media (max-width: 1000px) {
		footer ul {
			margin: 0 90px;
		}
	}
	@media (max-width: 900px) { 
	  header { 
	  /*
		flex-direction: column;
		align-items: center;
	*/
	  }
	  #headerNav {
		display:none;/* show only ham-menu */
	  }
	  #headerContent a {
		margin: 0 auto;
	  }
	  main {
		width: 100%;
	  }
	  .mainArticle {
		  display: inline;
	  }
	  .mainArticle  img {
		  width: 100%;
		  display: block;
		  margin: 0 auto;
	  }
	  .mainArticle  ul {
		/* border: solid 1px red; @debug */
		width: 100%;
		text-align: center;
	  }
		#twoColunm {
		display: flex;
		flex-direction: column;
		}
		footer ul {
			display: block;
			margin: 10px 30px;
		}
		#awards h2 {
			text-align: center;
		}
		#timeline {
			margin: 0 auto;
		}
		#awardsPhoto {
			padding: 0;
		}
		.gallery {

		}
		
	} 