#timeline {
	width: 100%;
	max-width: 600px;
	height: auto;
	padding: 10px;
	border:1px solid #383838;
	border-radius:8px;
	box-shadow:0px 1px 6px #3F3F3F;
}
#timeline p {
	font-size: 90%;

}
.mainArticle img {
	max-height: 875px;
}
#awardsPhoto {
	width: 100%;
	max-width: 500px;
	height: 50%;
	margin-top: 100px;
	/* to fit with header's width(1200px) */
	padding-right: 78px; /* #mainArticle(1200px) - (#timeline + #awardsPhoto) */
}
time {
	width: 40px;
}
.emphasize {
	font-weight: bold;
}