main {
	margin: auto 10px;

}
section {

}
/*
h1 {
	margin: 5px auto;
	text-align: center;
	
}
*/
 h2 {
	text-align:center;
	font-size:250%;
	padding:0;
	margin:0 0 25px 0;
	position:relative;
	color:#8C8C8C;
}
h2:before {
	position:absolute;
	bottom: -15px;
	content: ' ';
	text-align:center;
	display:block;
	height:2px;
	width:100%;
	background-color: black;
	background: linear-gradient(-90deg, black, white);
}
p {
	text-align: center;
	line-height: 60%;
}	
#twoColunm {
	margin-top: 50px;
	display: flex;
}
#contactInfo {
	position: relative;
	top: 0;
	margin: 0 auto;
	padding:30px;
	padding-bottom: 0;
	width: 100%;
	max-width: 600px;
	height: auto;
}
table {
	margin: 30px;
	margin-left: 60px;
	text-align: left;
	line-height: 1.5;
}
table th, td {
	font-size: 110%;
	color:#8C8C8C;
	padding: 5px;
}
th {
	width: 150px;
	font-weight: 900;
}
td {
	width: 400px;
}
#map  iframe {
	width: 100%;
	max-width: 500px;
	/* height: auto; */
	/*
	padding: 2px;
	border: solid 1px #ccc;
	*/
}
iframe {
	width: 100%;
	max-width: 500px;
	min-width: 300px;
	max-height: 330px;


}
#contactform {
	position: relative;
	top: 0;
	margin: 0 auto;
	width: 100%;
	max-width:600px;
	/* min-width: 750px; */
	height: auto;
	height: 100%;
	min-height:200px;
	z-index:100;
	padding:30px;
	border:1px solid #383838;
	/* background: #eee; */
	/* My stripped background */
	border-radius:8px;
	box-shadow:0px 1px 6px #3F3F3F;
	font-size: 110%;
	
}
#contactform p {
	text-align: left;
	margin-top: 1.5em;
}
#inputArea {
	margin: 50px;
}
.required {
	color: red;
}

#contactform label {
	display: inline-block;
	width: 130px;
	text-align: left;
}
#contactform  input , #contactform textarea{
	width: 400px;
	box-sizing: border-box;
	border: solid 1px #999;
}
#contactform  input:focus
, #contactform  textarea:focus {
   background-color: lightblue;
}
#contactform textarea {
    vertical-align: top;
    height: 5em;
    /* ユーザが textarea を垂直方向にリサイズできるようにする
       これが動作しないブラウザもある */
    resize: none;;
}

#contactform  input[type=button] {
	width: 100px;
    position: relative;
	left: 30px;
	top: 10px;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;

}  
#contactform  input[type=button]:hover {
    background: #00bcd4;
    color: white;
	cursor: pointer;
}
@media (max-width: 1400px) {
	h2 {
		font-size:200%;
	}

	#contactform , table th, td {
		font-size: 90%;
	}
}
@media (max-width: 910px) {
	#twoColunm {
	display: flex;
	flex-direction: column;
	}
}




















