/**
* ハンバーガーメニュー
* ref: http://git.blivesta.com/drawer/
*/
#ham-menu {
    width: 250px;
    background-color: #ccc;
    box-sizing: border-box;
    height: 100%;
    padding: 15px 40px;/* メニュー内部上下左右余白 */
    position: fixed;
    top: 0;
    right: -250px;
    transition: transform0.3s linear 0s;/* 0.3s は変化するのにかかる時間 */
    z-index: 1000;
}
/*メニューアイコン部分は疑似要素で*/
#ham-menu::before {
    background-color: #fff;
    border-radius: 0 0 0 10px;
    color: #333;
    content: "≡";
    display: block;
    font-size: 90px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 100%;
    text-align: center;
    top: 10px;
    width: 80px;
}
.open {
    transform: translate(-150px);
    opacity: 0.9;
}
.drawer-menu-item {
	font-size: 130%;
	line-height: 120%;
	max-height: 40px;

}
/* bug fix about the header of slideshow at home page */
.sb-description {
	z-index: 0;
}
