#slideShow {	/* slide show */
	/* border: solid 1px black; @debug */
	position: relative;/* for fixing the position of arrows */
	width: 100%;
	max-width: 1200px;
	height: auto;
	max-height: 600px;
	margin: 50px auto;
	overflow: hidden;
}
#slideShow  img {
	width: 100%;
	height: auto;
	max-height: 500px;
}
.nav-arrows {
	width: 100%;
	max-width: 1200px;
	height: auto;
}
/** arrow left */
.nav-arrows a {
	top: 50%;
	left: -5%;
}
/** arrow right */
.nav-arrows a:first-child{
	top: 50%;
	right: -5%;
}
.nav-options {
	display: flex;
	right: 0;
	bottom: 30px;
}
/* pic caption */
.sb-description {
	display: none;
	padding: 250px;
	width: 10%;
	border-left: none;
	bottom: 0;
	left: 0;
	/* background: linear-gradient(255deg,  transparent 200px, #0099ff 10px); */
	background: linear-gradient(255deg,  transparent 200px, #fff 10px);
}
.sb-description h3 {
	color: #c7c75a;
	font-size: 500%;
	position: absolute;
	top: 40px;
	left: 30px;
	line-height: 120%;
}



@media (max-width: 1350px) {
	.nav-arrows a {
		left: 0%;
	}
	/** arrow right */
	.nav-arrows a:first-child{
		right: 0%;
	}
}