/**
* CSS display caption
* https://codepen.io/nxworld/full/dRQxGP
*/
main {
	margin: auto 10px;

}
.gallery {
	/* border: solid 1px black; @debug */
	width: 100%;
	max-width: 1200px;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
	overflow: hidden;
}

figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 380px;
  height: auto;
  padding-left: 5px;
}
figure img {
	width: 100%;
	max-width: 380px;
	height: auto;
}
/*
.col4 img {
	width: 100%;
	max-width: 280px;
	height: auto;
}
*/
figcaption {
  position: absolute;
  bottom: -60px;
  left: 5px;
  z-index: 2;
  width: 100%;
  max-width: 380px;
  height: 60px;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
}
figcaption h3 {
	color: #fff;
	margin: 20px 10px;
}
/*
.col4 figcaption {
  max-width: 280px;
}
*/
figure:hover figcaption {
  bottom: 0;
}

/* hovwer action */
/*
.transform02 {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(5deg) scale(1.4);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
figure:hover .transform02 {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}
*/