* {
margin: 0em;
padding: 0em;
font-size: 100%;
border-style: none;
list-style-type: none;
}
/* Common settings */
body {
    /* border: solid 1px #000; */
    /* width: 1000px; */
    width: 100%;
	max-width: 1900px;
	min-width: 768px;
    height: 100%;
    margin: 0 auto;
    /* font-family: "trebuchet MS", calibri, sans-serif; */
	font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
}
#inner-wrapper {

}
/* Header settings */
header {
    /* border: solid 1px #f00; */
    position: fixed;
	top: 0;
    width: 100%;
    height: 100px;
	margin: 0 auto;

    background-color: #fff;
    z-index: 100;
}
#headerContent {
	display: flex;
    justify-content: space-between;
    align-items: center; /* 上下中央揃え */
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}
header  img {
	width: 100%;
	max-width: 150%;
	height: auto;
}
header a  {
    width: 160px;
    height: 92px;
}
/* Navigation */
#headerNav {
    /* border: solid 1px #f00; @debug */
    width: 100%;
	max-width: 600px;
    height: auto;
}
#headerNav ul {
    height: 100%;
    display: flex;
    align-items: center; /* 上下中央揃え(only for Nav) */

}
#headerNav li {
    /* border: solid 1px #00f;  @debug */
    width: 150px;
    height: 100%;
    text-align: center;/* 左右中央 */
}
#headerNav a {
    width: 150px;
    height: 24px;
    display: block;/* リンクをボタン化 */
    padding: 38px 0;/* リンクをボタン化 */
    color: black;
    font: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 130%;
    text-decoration: none;
}
/* 選択されてる画面のナビの背景色変更 */
#headerNav #active {
    background-color: #ddd;
}
/*
nav a:hover {
    background: #ccc;
}
*/
/* Contents settings */

main {
	background: url("./../images/bg.png") no-repeat center top;
	background-attachment: fixed;/* for parallax */
	height:100%;
	position: relative;
	top: 100px;
	padding-bottom: 50px;/* 最下部にフッターを固定表示 */
}
#slideShow {	/* slide show */
	margin: 0 auto;
	margin-bottom: 50px;
}

.mainArticle {
	/* border: solid 1px black; @debug */
	width: 100%;
	max-width: 1200px;
	height: auto;
	display: flex;
	margin: 10px auto;
}
.mainArticle  img {
	/* border: solid 1px red; @debug */
	width: 50%;
	height: 70%;
}
.mainArticle  ul {
	/* border: solid 1px red; @debug */
	width: 250%;
}
.mainArticle  li {

}
h1, h2 {
	font-size: 300%;
	font-family: "Courier New", Courier, monospace;
	color: #c7c75a;
	/* text-shadow: 3px 3px 3px #000; */
	margin: 30px 30px 10px 30px;
}
.centerH1 {
	margin: 5px auto;
	text-align: center;
	
}
 p {
	font-size: 110%;
	color: #777676;
	margin: 0 30px;
	margin-bottom: 20px;
	line-height: 150%;/* 行の高さを指定 */
}
#achievementsButton {
	text-align: center;
	align-items: center;
}
/* Footer settings */
footer {/* @memo フレックスデザイン未対応 */
	position: relative;
	top: 100px;
    border-top: solid 2px #000;
	margin-top: 10px;
    width: 100%;
    height: 22px;

}
footer  ul{
    display: flex;
    justify-content: space-around;
    margin: 0 400px;
    align-items: center; /* only for icon */
}

footer a {
    font-size: 0.8rem;
    color: #000;
    text-decoration: none;
}
@media (max-width: 1500px) {
	footer ul {
    margin: 0 300px;
	}

}
@media (max-width: 1300px) {
	#headerNav a {

	}
	footer ul {
    margin: 0 200px;
	}
	footer a {
    font-size: .6em;
	}
}
@media (max-width: 900px) { 
  header { 
  /*
    flex-direction: column;
    align-items: center;
*/
  }
  #headerNav {
    display:none;/* show only ham-menu */
  }
  main {
    width: 100%;
  }
  .mainArticle {
	  display: inline;
  }
  .mainArticle  img {
	  width: 100%;
  }
  .mainArticle  ul {
	/* border: solid 1px red; @debug */
	width: 100%;
	text-align: center;
  }
} 